@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

/* COLOURS */
:root {
  --main-color: #d48946;
  --second-color: #212f3d;
}

section {
  padding: 100px;
}

/* HOME STYLING */
#home {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* NAVBAR STYLING */
nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  padding: 15px 100px;
  width: 100%;
  box-sizing: 0 1px 4px rgba(146, 161, 176, 0.15);
  background-color: var(--second-color);
  z-index: 1000;
  transition: 0.5s;
}

.logo {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  color: white;
}

ul {
  display: flex;
}

ul li a {
  padding: 20px 22px;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
}

ul li a:hover {
  color: var(--second-color);
  border: none;
  background-color: white;
  padding: 200px auto;
}

/* HOME TEXT STYLING */
.home-text {
  max-width: 500px;
}

.home-text h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
  color: var(--second-color);
  line-height: 5.5rem;
}

.home-text span {
  color: var(--main-color);
}

.home-img {
  width: 300px;
  height: 500px;
}

.home-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

/* HIRE ME BUTTON */
.home-text a {
  background: var(--main-color);
  color: #fff;
  padding: 12px 34px;
  border-radius: 10px;
  font-weight: 600;
  letter-spacing: 1px;
}

.home-text a:hover {
  box-shadow: 0 10px 34px rgba(0, 0, 0, 0.14);
  background: var(--second-color);
}

/* SOCIALS */
.social {
  left: 205px;
  bottom: 8%;
  display: flex;
  position: absolute;
}

.social i {
  font-size: 24px;
  margin-right: 24px;
  color: var(--second-color);
}

.social i:hover {
  color: var(--main-color);
}

/* ABOUT STYLING */
.heading {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.heading h2 {
  font-size: 1.8rem;
  border-bottom: 3px solid var(--second-color);
  color: var(--second-color);
}

.heading p {
  margin-top: 0.5rem;
  color: var(--second-color);
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about-img {
  width: 320px;
  height: 500px;
}

.about-img img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: contain;
}

.about-text {
  width: 500px;
  justify-content: center;
}

.about-text h1 {
  font-size: 1.5rem;
  color: var(--second-color);
}

.about-text p {
  color: var(--second-color);
  text-align: justify;
  margin: 5px 0 24px;
  line-height: 1.8rem;
}

.about-text a {
  color: #fff;
  background: var(--main-color);
  padding: 12px 20px;
  border-radius: 10px;
  font-weight: 600;
  letter-spacing: 1px;
}

.about-text a:hover {
  box-shadow: 0 10px 34px rgba(0, 0, 0, 0.14);
  background: var(--second-color);
}

/* SERVICES STYLING */
.service-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.service-content .box {
  color: #fff;
  background: var(--second-color);
  padding: 40px 20px;
  margin: 16px;
  max-width: 320px;
  text-align: center;
  border-radius: 5px;
}

.box img {
  height: 45px;
}

.box h1 {
  font-size: 1.3rem;
}

.box p {
  margin-top: 0.5rem;
  font-weight: 300;
  font-size: 1rem;
}

.service-content .box:hover {
  background: var(--main-color);
  transform: translateY(-10px);
  transition: 0.5s;
}

/* WORK STYLING */
.work-content {
  justify-content: space-around;
  display: flex;
  align-items: center;
  margin-top: 2.5rem;
}

.work-text {
  max-width: 500px;
}

.work-text h1 {
  color: var(--second-color);
  font-size: 1.5rem;
  letter-spacing: 1px;
  line-height: 2.4rem;
}

.work-text p {
  margin: 5px 0 18px;
  text-align: justify;
  color: var(--second-color);
  font-size: 1rem;
  line-height: 2rem;
}

.work-text a {
  color: #fff;
  background: var(--main-color);
  padding: 12px 20px;
  border-radius: 10px;
  font-weight: 600;
  letter-spacing: 1px;
}

.work-text a:hover {
  box-shadow: 0 10px 34px rgba(0, 0, 0, 0.14);
  background: var(--second-color);
}

.work-img {
  width: 320px;
  height: 500px;
}

.work-img img {
  height: 100%;
  width: 100%;
  object-position: center;
  object-fit: contain;
}

/* CONTACT STYLING */

form {
  margin-top: 20px;
}

input {
  width: 70%;
  height: 50px;
  border: none;
  border-bottom: 1px solid black;
  margin: 10px 190px;
  font-size: 14px;
  padding-left: 15px;
}

textarea {
  width: 70%;
  margin: 20px 190px;
  font-size: 14px;
  padding-left: 15px;
}

button {
  border: none;
  cursor: pointer;
  color: #fff;
  background: var(--main-color);
  padding: 12px 20px;
  border-radius: 10px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-left: 540px;
}

button:hover {
  box-shadow: 0 10px 34px rgba(0, 0, 0, 0.14);
  background: var(--second-color);
}

/* FOOTER STYLING */
.tog {
  text-align: center;
}
.bottom-container {
  padding-top: 10px;
  margin-top: 50px;
  background-color: var(--second-color);
  height: 130px;
}

.bc {
  margin-top: 25px;
}

.footer-link {
  margin: 30px;
  text-decoration: none;
  color: white;
}

.footer-note {
  color: white;
  margin-bottom: 10px;
  margin-top: 25px;
}

a {
  text-decoration: none;
  color: white;
}
